parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src/

    excludePaths:
#      - 'src/Resources/skeleton'
#      - */cache/*
       analyse:
          - ./vendor

    reportUnmatchedIgnoredErrors: false
#    checkMissingIterableValueType: false
#    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)\.#'
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode\(\).#'
        # Only available in ArrayNodeDefinition which is given
        # False positive: clients are not dependencies of this project.
#        -
#            message: '#Call to an undefined method Symfony\Component\Config\Definition\Builder\NodeDefinition::children#'
#            path: ./src/Client/Provider
#        -
#            message: '#Return typehint of method KnpU\\OAuth2ClientBundle\\Client\\Provider\\[a-zA-Z0-9\\_]+::fetchUser\(\) has invalid type [a-zA-Z0-9\\_]#'
#            path: ./src/Client/Provider
        # False positive: using `::class` is not an error for those providers `::getProviderClass()` method.
#        -
#            message: '#Class [a-zA-Z0-9\\_]+ not found#'
#            path: ./src/DependencyInjection/Providers

        # The DependencyInjection returns are very complex to deal with
#        -
#            message: '#.*NodeParentInterface\|null.*#'
#            path: ./src/DependencyInjection/Providers
#        -
#            message: '#.*NodeDefinition::children.*#'
#            path: ./src/DependencyInjection
